<html>
  <body>
    <h1>
      Hello World!      
    </h1>
    <form method="post" enctype="multipart/form-data" action={% url 'userUpload'  %}>
      {% csrf_token %}
      <label>What is the number that you are uploading?</label>
      <input type="text" id="userAnswer" name="userAnswer"> <br><br>
      <label>Upload your image of a number!</label> <br>
      <input type="file" id="userUpload" name="userImage" accept="image/*"> <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>